@media all and (min-width: 480px) {
  .Login {
    padding: 60px;
    margin-top: 40px;
    margin-left: 0px;

    width: 12px;
    padding-top: 90px;
    margin-top: 90px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.form-label,
form-control {
  text-align: center;
}

html {
  background-color: coral;
}

.btn {
  margin-top: 30px;
}

.form-control {
  border-radius: 20px;
  padding: 5px;
}
