@media all and (min-width: 480px) {
  .Login {
    padding: 60px;
    margin-left: 0px;
    width: 12px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.app_header {
  margin-top: 400px;
}

.form-label,
form-control {
  text-align: center;
}

/* html {
  background-color: coral;
} */

.btn {
  margin-top: 30px;
  background-color: yellow;
  border-radius: 10px;
  padding: 3px;
  width: 80px;
}

.form-control {
  border-radius: 20px;
  padding: 5px;
}
